.ap-photos-page-buttons {
  display: flex;
  margin-left: auto;
  column-gap: 3px;
}

.ap-photos-pageNum {
  width: 28px;
  height: 28px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.ap-photos-pageNum:hover {
  background: #dee2e6;
  cursor: pointer;
  user-select: none;
}

.ap-photos-pageNum.active {
  background: #ccc;
}

.admin-pagNav-previous-button,
.admin-pagNav-next-button {
  color: gray;
  background: none;
  border: none;
}

.admin-pagNav-previous-button:hover,
.admin-pagNav-next-button:hover {
  color: black;
  cursor: pointer;
}
