html {
  width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: 'Metropolis';
  color: black;
}

.text-center {
  text-align: center;
}

.grey-blue-button,
.orange-brown-button {
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

.grey-blue-button:hover,
.orange-brown-button:hover {
  cursor: pointer;
}

.grey-blue-button {
  background: #7f9296;
}

.orange-brown-button {
  background: #ddb091;
}
