* {
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: 'Metropolis';
  color: black;
}

a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.grey-blue-button,
.orange-brown-button {
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

.grey-blue-button:hover,
.orange-brown-button:hover {
  cursor: pointer;
}

.grey-blue-button {
  background: #7f9296;
}

.grey-blue-button:hover {
  background: #707f82;
}

.orange-brown-button {
  background: #ddb091;
}

.orange-brown-button:hover {
  background: #cfa588;
}

/* Removing arrows off number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
