.home-page-container {
  max-width: 1366px;
  margin: auto;
}

.section-1-container {
  background: #fff6ef;
  display: flex;
  justify-content: center;
}

.section-1 {
  max-width: 1366px;
  max-height: 707px;
  height: 46vw;
  flex-grow: 1;
  margin: 0 95px;
  padding-top: 40px;
}

.hp-1-images-container {
  position: relative;
  width: 50.8%;
}

.hp-1-image-under {
  width: 83%;
  position: absolute;
}

.hp-1-image-over {
  width: 63%;
  position: absolute;
  border: 1.83vw solid white;
  box-sizing: content-box;
  right: 0;
  /* Cant set top value below to percentage as container has 0 height
   due to absolute positioning, so maybe change depending on view width with media */
  top: 4.565vw;
}

.hp-1-content-right {
  position: relative;
  left: 54.7%;
  width: 45%;
  margin-top: 8vw;
}

.hp-1-welcome-text {
  font-family: 'Martel Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 5px;
}

.hp-1-sp {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
}

.hp-1-description {
  margin-top: 20px;
}

.hp-1-shop-button {
  /* width: 25.1%;
  padding: 2%; */
  margin-top: 20px;
  width: 133px;
  height: 48px;
  font-weight: 16px;
}

.sp-section-2-container {
  background: #ffffff;
  padding-top: min(10vw, 157px);
  height: 63vw;
  max-height: 836px;
}

.sp-section-2 {
  display: flex;
  position: relative;
  padding-left: min(95px, 6.95%);
  margin: auto;
  max-width: 1366px;
}

.sp-s2-content-left {
  display: flex;
  flex-direction: column;
  margin-top: min(21px, 1.4vw);
  width: 28%;
}

.sp-s2-title {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
}

.sp-s2-content-right {
  right: -38px;
  position: absolute;
  margin-left: auto;
  width: 66%;
  /* height: 392px; */
  /* flex-wrap: nowrap; */
}

.sp-s2-photo-slider {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  overflow: hidden;
}

.s2-img-slider-img {
  width: 32%;
  /* transform: translate(-106.25%); */
  flex-shrink: 0;
}

.s2-img-slider-img.from-right {
  animation-name: moveFromRight;
  animation-duration: 600ms;
  /* transform: translate(-106.25%); */
}

.s2-img-slider-img.from-left {
  animation-name: moveFromLeft;
  animation-duration: 600ms;
  /* transform: translate(-106.25%); */
}

.s2-img-slider-fake-img-div {
}

.s2-img-slider-img.final {
  /* display: none; */
}

.hp-s2-photo-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 100%; */
  position: absolute;
  bottom: -75px;
  right: 75px;
  column-gap: 19px;
}

.sp-s2-description {
  margin-top: min(22px, 1.6vw);
}

.sp-s2-shop-all-button {
  margin-top: min(27px, 2.02vw);
}

.section-3-container {
  background: #7f9296;
  height: 55.3vw;
  max-height: 755px;
}

.section-3 {
  max-width: 1366px;
  display: flex;
  margin: auto;
  height: 100%;
  padding: min(103px, 7.54vw) 84px 0 84px;
}

.s3-about-us-container {
  width: 46.7%;
  margin-top: min(59px, 4.42vw);
  margin-left: min(13px, 0.95vw);
}

.s3-about-us-title {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
}

.s3-about-us-text {
  color: white;
  font-size: 14px;
  line-height: 18.48px;
  margin-top: min(29px, 2.12vw);
}

.s3-images-container {
  margin-left: auto;
  position: relative;
  width: 47.58%;
}

.s3-image-behind {
  position: absolute;
  width: 86.8%;
  right: 0;
}

.s3-image-top {
  position: absolute;
  /* border: min(20px, 1.64vw) solid white; */
  border-color: white;
  border-style: solid;
  border-width: min(20px, 1.64vw);
  box-sizing: content-box;
  width: 66.14%;
  border-radius: 3px;
  top: min(6.5vw, 87px);
  left: 0;
}

.section-4-container {
  height: 67.94vw;
  background: #fff6ef;

  max-height: 928px;
}

.section-4 {
  display: flex;
  max-width: 1366px;
  padding: 0 97px;
  height: 100%;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.s4-line {
  height: 9.15vw;
  max-height: 125px;
  width: 2px;
  background: #b1adad;
}

.s4-line-bottom {
  margin-top: auto;
}

.s4-title {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
}

.s4-contact-us-container {
  margin-top: min(94px, 7.04vw);
  display: flex;
}

.s4-cu-form {
  display: flex;
  flex-direction: column;
  width: 42%;
  flex-shrink: 0;
  flex-grow: 0;
}

.s4-cu-form-input {
  margin-bottom: min(62px, 4.54vw);
  background: none;
  border: none;
  border-bottom: 2px solid #b1adad;
  /* padding: 0px; */
  font-family: 'Martel Sans', sans-serif;
  color: black;
  opacity: 1;
  font-size: 22px;
  line-height: 40px;
}

.s4-cu-form-input::placeholder {
  font-family: 'Martel Sans', sans-serif;
  color: #b1adad;
  opacity: 1;
  font-size: 22px;
  line-height: 40px;
}

.s4-cu-form-input:focus {
  outline: none;
}

.s4-cu-right {
  margin-left: 14.7%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 46.5%;
}

.s4-cu-subtitle {
  font-family: 'Spartan', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 22px;
}

.s4-cu-text {
  margin-top: min(24px, 1.98vw);
}

@media (min-width: 1366px) {
  .hp-1-image-over {
    top: 65px;
    border: 25px solid white;
  }
  .hp-1-content-right {
    margin-top: 150px;
  }
}

@media (min-width: 1473px) {
  .hp-s2-photo-arrows {
    bottom: -75px;
    right: 0px;
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(106.25%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-106.25%);
  }

  to {
    transform: translateX(0);
  }
}
