.home-page-container {
  max-width: 1366px;
  margin: auto;
}

.section-1-container {
  background: #fff6ef;
  display: flex;
  justify-content: center;
}

.section-1 {
  max-width: 1366px;
  max-height: 707px;
  height: 46vw;
  flex-grow: 1;
  margin: 0 95px;
  padding-top: 40px;
}

.sp-section-2-container {
  background: #ffffff;
  padding-top: min(10vw, 157px);
  height: 80vw;
  max-height: 836px;
}

.sp-section-2 {
  display: flex;
  position: relative;
  margin: auto;
  max-width: 1366px;
}

.sp-s2-content-left {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.sp-s2-title {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
}

.sp-s2-content-right {
  right: -38px;
  position: absolute;
  margin-left: auto;
  width: 66%;
  /* height: 392px; */
  /* flex-wrap: nowrap; */
}

.sp-s2-photo-slider {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  overflow: hidden;
}

.s2-img-slider-img {
  width: 32%;
  /* transform: translate(-106.25%); */
  flex-shrink: 0;
}

.s2-img-slider-img.from-right {
  animation-name: moveFromRight;
  animation-duration: 600ms;
  /* transform: translate(-106.25%); */
}

.s2-img-slider-img.from-left {
  animation-name: moveFromLeft;
  animation-duration: 600ms;
  /* transform: translate(-106.25%); */
}

.s2-img-slider-fake-img-div {
}

.s2-img-slider-img.final {
  /* display: none; */
}

.hp-s2-photo-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 100%; */
  position: absolute;
  bottom: -75px;
  right: 75px;
  column-gap: 19px;
}

.section-3 {
  background: #7f9296;
  height: 707px;
}

.hp-1-images-container {
  position: relative;
  width: 50.8%;
}

.hp-1-image-under {
  width: 83%;
  position: absolute;
}

.hp-1-image-over {
  width: 63%;
  position: absolute;
  border: 1.83vw solid white;
  box-sizing: content-box;
  right: 0;
  /* Cant set top value below to percentage as container has 0 height
   due to absolute positioning, so maybe change depending on view width with media */
  top: 4.565vw;
}

.hp-1-content-right {
  position: relative;
  left: 54.7%;
  width: 45%;
  margin-top: 11vw;
}

.hp-1-welcome-text {
  font-family: 'Martel Sans', sans-serif;
  color: black;
  font-size: 16px;
  line-height: 5px;
}

.hp-1-sp {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 700;
  font-size: 45px;
}

.hp-1-description {
  margin-top: 20px;
}

.hp-1-shop-button {
  /* width: 25.1%;
  padding: 2%; */
  margin-top: 20px;
  width: 133px;
  height: 48px;
  font-weight: 16px;
}

@media (min-width: 1366px) {
  .hp-1-image-over {
    top: 65px;
    border: 25px solid white;
  }
  .hp-1-content-right {
    margin-top: 150px;
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(106.25%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-106.25%);
  }

  to {
    transform: translateX(0);
  }
}
